#register-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

span {
	font-size: 1rem;
}

.center-row {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#formPasswordContent {
	display: flex;
	align-items: center;
	position: relative;
}

#formPasswordContent span {
	cursor: pointer;
	color: black;
	position: absolute;
	right: 10px;
}