#team-page {
    padding-top: 1rem;
}

#team-page .team-picture {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 2rem;
}

#team-page #team-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

#team-header .team-header-info {
    display: flex;
    flex-direction: row;
}

#team-header .team-header-buttons svg {
    margin-right: 0.5rem;
}

#team-page #team-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#team-page #team-info .line,
#team-action-buttons button {
    display: flex;
	align-items: center;
}

#team-page #team-info .line svg {
    margin-right: 1rem;
}

#team-action-buttons svg {
    margin-right: 0.5rem;
}

#team-action-buttons {
    margin-top: 0.5rem;
}

#team-page .nav-tabs {
    width: 100vw;
    max-width: 100%;
}

#team-page .row {
    margin: 0;
}

#team-page .member-image {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

#team-page .card svg {
    margin-left: 0.5rem;
}

#team-page .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#team-page .team-header-buttons button {
    margin-left: 1rem;
}

#team-page .dropdown button {
    padding: 0;
    color: grey;
}

.dropdown-toggle::after,
.dropdown-toggle::before {
    display: none; /* Hides the dropdown arrow */
}