#new-team-modal img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 1rem;
}

#new-team-modal .modal-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
}

#new-team-modal .modal-content {
    background-color: #f5f5f5;
}

#new-team-modal form {
    max-width: 100%;
}

.form-input-and-size {
    display: flex;
    position: relative;
    align-items: center;
}

.form-input-and-size span {
    position: absolute;
    right: 10px;
}