#edit-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-profile-page .profile-picture {
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

#edit-profile-page .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-profile-page form {
    margin: 1rem 0rem;
    max-width: 100%;
    width: 100vw;
}

#edit-profile-page .row {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/* SCREEN SIZE SMALL */
#edit-profile-page .col{
    xs {
        padding: 0;
    }
}