#sidebar {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-top: 0.1rem;

	width: fit-content;
	height: calc(100vh - 47px);
	border-right: 1px solid #e0e0e0;
	overflow-x: scroll;
}

#sidebar svg {
	margin-right: 1rem;
	font-size: 1.2rem;
	animation: openingSvgAnimation 1s forwards;
}

.sidebar-item {
	display: block;
	margin: 0.1rem 0rem;
	padding: 0.5rem 1rem;
}

#sidebar.opened .sidebar-item span {
	animation: openingSpanAnimation 1s forwards;
}

.sidebar-item.selected {
	background-color: #e0e0e0;
}

#sidebar #toggle-button {
	align-items: center;
	margin-left: 0px;
	padding: 8px 8px;
}

hr {
	margin: 0px 10px;
	border-top: 1px solid #e0e0e0;
	opacity: 1;
}

/* Closed Sidebar */

#sidebar.closed .sidebar-item svg {
	animation: closingSvgAnimation 1s forwards;
}

#sidebar.closed .sidebar-item span {
	animation: closingSpanAnimation 1s forwards;
}

/* Sidebar animation */
@keyframes closingSpanAnimation {
	0% {
		opacity: 1;
		margin-left: 0px;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		margin-left: -100px;
	}
}

@keyframes openingSpanAnimation {
	0% {
		opacity: 0;
		margin-left: -100px;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		margin-left: 0px;
	}
}

@keyframes closingSvgAnimation {
	0% {
		margin-right: 1rem;
	}

	100% {
		margin-right: 0px;
	}
}

@keyframes openingSvgAnimation {
	0% {
		margin-right: 0px;
	}

	100% {
		margin-right: 1rem;
	}
}