.navbar {
	border-bottom: 1px solid #e0e0e0;
	margin: 0px;
	padding: 0px;
	min-height: 55px;
}

.container {
	max-width: 100%;
	margin: 0px 10px;
}

.navbar .profile-picture {
	margin-left: 0.5rem;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: 1px solid #000;
}

.navbar .profile-info {
	display: flex;
	align-items: center;
}