#login-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

form {
	max-width: 500px;
	width: 100%;
}

.row {
	margin: 0px 1rem;
}

.col {
	padding: 0 calc(var(--bs-gutter-x)* .5);
}

.form-free-row {
	margin: 0 calc(1rem + calc(var(--bs-gutter-x)* .5));
}

.form-control {
	display: block;
	height: 38px;
	padding: 5px 30px 5px 10px;
	border: 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	color: #000;
	font-size: 15px;
	line-height: 16px;
	transition: box-shadow .1s ease-in-out;
}

.form-control:focus,
input:focus {
	outline: none;
	border: 2px solid #07f;
}

span {
	font-size: 1rem;
}

a {
	color: #07f;
}

.center-row {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

button {
	background-color: #07f;
}

.text-right {
	text-align: right;
}