.navbar {
	border-bottom: 1px solid #e0e0e0;
	margin: 0px;
	padding: 0px;
}

.container {
	max-width: 100%;
	margin: 0px 10px;
}

.profile-picture {
	margin-left: 0.5rem;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid #000;
}

.profile-info {
	display: flex;
	align-items: center;
}