.page {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;

    width: 100vw;
    max-width: 100%;
}

#content {
    display: flex;
    height: calc(100vh - 55px);
}

#unregistered-screen {
    display: flex;
    height: calc(100vh - 55px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}