#edit-profile-page {
    padding-top: 1rem;
}

#edit-profile-page h2 {
    margin-left: 2rem;
}

#edit-profile-page .profile-picture {
    width: 125px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5rem;
    cursor: pointer;
}

#edit-profile-page .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-profile-page form {
    margin: 1rem 0rem;
    max-width: 100%;
    width: 100vw;
}